name: run main.py

on:
  push:
      paths:
      - 'testfiles/**'  # Only trigger for changes in the 'testfiles' folder
  pull_request:
    branches:
      - main  # Trigger the workflow on pull request events targeting 'main' branch

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.commits || github.event.head_commit }}  # Check if there are commits triggering the workflow
    steps:

      - name: Checkout repo content
        uses: actions/checkout@v2  # Checkout the repository content to GitHub runner

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'  # Install the python version needed
          
      - name: Install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Set environment variables
        run: echo "Setting up environment variables..."
        env:
          API_KEY: ${{ secrets.API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MODEL_NAME: ${{ secrets.MODEL_NAME }}
          LLM_API_VERSION: ${{ secrets.LLM_API_VERSION }}
          BASE_URL: ${{ secrets.BASE_URL }}
          MODEL_DEPLOYMENT: ${{ secrets.MODEL_DEPLOYMENT }}
          
      - name: Execute Python script
        env:
          API_KEY: ${{ secrets.API_KEY }}  # Use GitHub secret for API Key
          LLM_API_VERSION: ${{ secrets.LLM_API_VERSION }}  # Use secret for API version
          BASE_URL: ${{ secrets.BASE_URL }}  # Use secret for the Azure endpoint
          MODEL_DEPLOYMENT: ${{ secrets.MODEL_DEPLOYMENT }}  # Use secret for deployment
        run: python src/main.py  # Execute the script with environment variables available

      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}  # This is automatically generated by GitHub
          branch: swt-wolverine
